* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.free-shipping {
  background-color: #594e38;
  width: 100%;
}

.header {
  background-color: #8c8418;
  color: white;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: justify;
}

.payment {
  padding-left: 50px;
  display: inline-block;
}
.nav-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #000;
  border-color: white;
  padding-top: 1px;
}

.nav-list a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.nav-list li {
  flex-grow: 1;
  flex-shrink: 1;

  /* display: inline-block; */
}

/* .nav-container {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  align-items: center; 
} */

/* li {
  list-style: none;
  margin: 0px;
} */

.search-bar {
  height: 30px;
  width: 60%;
  border-radius: 10px;
  margin-left: 20px;
  /* margin-right: auto; */
  border: none;
}

.main-img {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  margin-bottom: 50px;
}

.logo {
  height: 100px;
  width: 300px;
}

/* .list-menu {
  display: grid;
  grid-template-columns: repeat(9, 5fr);
  margin-top: 20px;
  color: whitesmoke;
  font-weight: 250;
  border-top: 1px solid whitesmoke; 
}*/

ul {
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-top: 10px;
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 50px;
}

.most-sold {
  height: 300px;
  width: 250px;
  /* display: flex;
  flex-direction: column; */
}

section p {
  margin-top: 5px;
}

.jacket-colors {
  border-bottom: 1px solid #000;
}

.newsletter {
  background-image: url(../images/mans-hand-landscape.jpg);
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color: white;
  text-align: end;
}

.footer-img {
  display: block;
  width: 100%;
  height: auto;
}
/* .sign-up {
  background-color: #8c8418;
  background-image: url("C:\Users\pgarz\OneDrive\Documents\GitHub\cross-course-project-Pgarza-dev\.github\images\mans-hand-landscape.jpg");
} */

.footer-columns {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-direction: row;
  border-top: 1px solid #000;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.footer-columns > * {
  flex-shrink: 1;
  flex-grow: 1;
}

.footer-list a {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  .footer-columns {
    flex-direction: column;
    justify-content: center;
  }
}
