/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.header {
  background-color: #8c8418;
}
.nav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  align-items: center;
}

li {
  list-style: none;
}

.search-bar {
  height: 30px;
  width: 1000px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 50px;
  border: none;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo {
  height: 100px;
  width: 300px;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(9, 5fr);
  margin-top: 20px;
  color: whitesmoke;
  font-weight: 250;
  border-top: 1px solid whitesmoke;
}

ul {
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-top: 10px;
}

h1 {
  text-align: center;
}

p {
  /* display: block; */
  display: inline-block;
}

.most-sold {
  height: 300px;
  width: 250px;
}

.footer-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 100%;
}

.footer-section {
  font-size: 16px;
  font-weight: 600;
}

.footer-grid {
}
.footer-info {
}
